.post-title {
  font-size: 2em;
  line-height: 1.6em;
  margin-top: 5px;
  padding-bottom: 0.4em;
}
.post-subtitle {
  color: #999;
  font-size: 1.4em;
  font-weight: normal;
  line-height: 2em;
}
.post-date {
  color: #b3b3b1;
}
.post a{
  color: #007998;
  text-decoration: none;
  -moz-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
.post a:hover {
  color: rgba(0, 121, 152, 0.5);
}
.post ul {
  list-style: disc;
}
/* Modify prism's default code style */
.post pre[class*='language-'] > code[data-language] {
  max-height: initial;
  line-height: 1.3em;
}
.post pre code .comment {
  font-size: .9em;
}
