<!DOCTYPE html>
<html lang="zh">

<head>
  <title>{% if page.title %}{{ page.title }} {% endif %}{{ site.title }}</title>
  <meta charset="utf-8" />
  <meta name="author" content="wizcabbit">
  <meta name="keywords" content="wizcabbit,Wang Zhi Yong,blog,{% if page.keywords %}{{ page.keywords }} {% endif %}">
  <meta name="description" content="wizcabbit (WANG Zhi Yong)'s blog.">
  <meta name="renderer" content="webkit">
  <meta name="description" content="Blog @wizcabbit">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="{{ site.url }}/css/common.css">
  <link rel="stylesheet" href="{{ site.url }}/css/index.css">
  <link rel="stylesheet" href="{{ site.url }}/css/post.css">
  <link rel="stylesheet" href="{{ site.url }}/lib/Han/han.min.css">
  <link rel="stylesheet" href="{{ site.url }}/lib/prism/prism.css">
  <script type="text/javascript" src="{{ site.url }}/lib/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}/lib/Han/han.min.js"></script>
</head>

<body>
  <div id="header-wrapper">
    <header id="header">
      <div id="logo">
        <a href="{{ site.url }}">
          <img src="{{ site.url }}/images/logo_80.jpg" width="64" height="64" alt="wizcabbit">
        </a>
      </div>
      <h1>
        <a href="{{ site.url }}">wizcabbit</a>
      </h1>
      <p id="description">全栈码农（Web）、伪咨询顾问</p>
      <p class="site-links">
        [<a href="//cabbit.me">Portfolio</a>,
        <a href="//cabbit.me/resume">Resume</a>]
      </p>
      <ul class="category-links" style="display:none;">
        <li><a href="{{ site.url }}/leetcode">leetcode</a>
        </li>
      </ul>
    </header>
    <ul class="social-links">
      <li><a href="https://github.com/wizcabbit" target="_blank">GitHub</a>
      </li>
      <li><a href="//zhihu.com/people/wizcabbit" target="_blank">知乎</a>
      </li>
      <li><a href="//www.douban.com/people/JefferyWang/" target="_blank">豆瓣</a>
      </li>
    </ul>
  </div>
  <div id="main-wrapper">
    {{ content }}
  </div>
</body>

</html>
